/ip firewall address-list
remove [/ip firewall address-list find list=CNIP]
add address=10.0.0.0/8 list=CNIP comment=private-network
add address=172.16.0.0/12 list=CNIP comment=private-network
add address=192.168.0.0/16 list=CNIP comment=private-network
add address=20.255.62.222/32 list=CNIP comment=cloudvps-ip
add address=20.210.104.186/32 list=CNIP comment=cloudvps-ip
add address=152.69.196.58/32 list=CNIP comment=cloudvps-ip
add address=193.123.226.193/32 list=CNIP comment=cloudvps-ip
add address=158.179.165.136/32 list=CNIP comment=cloudvps-ip
